/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(63, 81, 181,0.7);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(63, 81, 181, 0.99);
}
::-webkit-scrollbar-track-piece {
    background: transparent; 
    border-radius: 10px;

}