:root{
  --color-p1-1:#FD372A;
  --color-p1-2:#2E35CE;
}
:root, [theme="material"]{
    --color-red-light:#e53935;
    --color-red-dark:#d50000;

    --color-purple-light:#9575cd;
    --color-purple-dark:#6200ea;

    --color-blue-light:#536dfe;
    --color-blue-dark:#283593;

    --color-teal-light:#00bfa5;
    --color-teal-dark:#00796b;

    --color-green-light:#00c853;
    --color-green-dark:#00600f;

    --color-orange-light:#ff7539;
    --color-orange-dark:#bf360c;

    --color-yellow-light:#ffd600;
    --color-yellow-dark:#6e6d00;

    --color-grey-light:#212121;
    --color-grey-dark:#1b1b1b;
}
:root, [theme="flat"]{
    --color-red-light:#f03434;
    --color-red-dark:#cf000f;

    --color-purple-light:#9f5afd;
    --color-purple-dark:#8c14fc;

    --color-blue-light:#3498db;
    --color-blue-dark:#2574a9;

    --color-teal-light:#29f1c3;
    --color-teal-dark:#049372; /* no contrast */

    --color-green-light:#00e640;
    --color-green-dark:#1e824c;

    --color-orange-light:#f15a22;

    --color-yellow-light:#f0ff00;

    --color-grey-light:#6c7a89;
    --color-grey-dark:#2e3131;
}

:root,
[theme="1"] {
  --c1: #845ec2;
  --c2: #d65db1;
  --c3: #ff6f91;
  --c4: #ff9671;
  --c5: #ffc75f;
  --c6: #f9f871;
}
