@import "./cbs-color-palettes.css";

:root {
  /* Global */
  --color-dark: #232526;
  --color-white: #ffffff;
  --color-light: #d3cce3;
  --color-light-2:#CCC6DC;
  --bg-color: var(--color-light);
  --font-color: var(--color-light);
  --active-color: var(--lacivert);

  /*
    --bg-color:rgba(0,0,0, 0.8);
    --font-color: rgba(255,255,255, 1);
    */

  /* Navbar */
  --navbar-color: rgba(31, 31, 31, 0.95);
  --navbar-brand-color: rgb(255, 255, 255);
  --navbar-link-color: var(--silver);

  --card-bgc: rgba(0, 0, 0, 0.8);
  --card-hover-bgc: rgba(22, 22, 22, 0.8);

  --form-background-color: #232526;
  --form-label-color: var(--silver);

  --form-input-t-color: rgb(88, 88, 88);
  --form-input-border-color: rgba(0, 0, 0, 0.7);
  --form-placeholder-color: rgba(0, 0, 0, 0.75);
  --form-border-top-color: rgba(76, 86, 226, 0.397);
  --form-submit-button-color: rgba(76, 86, 226, 1);
  --form-input-focus-color: rgba(76, 86, 226, 1);
  --form-input-focus-border-color: var(--blue-pruple);
  --input-form-border-top-color: rgba(45, 200, 117, 0.267);
  
  --form-input-background: rgba(0, 0, 0, 0.98);
  /*
  --form-input-background: rgba(255, 255, 255, 0.98);
  --input-form-border-top-color: rgb(45, 200, 117);
  */
  /* Custom Colors */
  --semantic-warning: #f2c037;
  --semantic-error: #db2829;
  --semantic-success: #38ba45;

  --blue-pruple: #5e3dd4;
  --lacivert: #3f51b5;
  --silver:rgba(211, 204, 227, 0.99);

  /* Gradients */
  --delicate: #d3cce3;
  --delicate-grad: linear-gradient(to top, #e9e4f0, #d3cce3);
  --delicate--grad-webkit: -webkit-linear-gradient(to top, #e9e4f0, #d3cce3);

  --midnight: #232526;
  --midnight-grad: linear-gradient(to right, #414345, #232526);
  --midnight-grad-webkit: -webkit-linear-gradient(to right, #414345, #232526);
}
i.active-icon{
  color:var(--active-color);
}

.bgc-c6 {
  background-color: var(--c6);
}
.bgc-c5 {
  background-color: var(--c5);
}
.bgc-c4 {
  background-color: var(--c4);
}
.bgc-c3 {
  background-color: var(--c3);
}
.bgc-c2 {
  background-color: var(--c2);
}
.bgc-c1 {
  background-color: var(--c1);
}
.bgc-teal {
  background-color: var(--color-teal-light);
}
.bgc-purple {
  background-color: var(--color-purple-light);
}
.bgc-red {
  background-color: var(--color-red-light);
}
.bgc-blue {
  background-color: var(--color-blue-light);
}


.bgc-dark {
  background-color: var(--midnight);
}
.bgc-light {
  background-color: var(--delicate);
}
.bgc-transparent {
  background-color: transparent
}





.t-color-c1 {
  color: var(--c1);
}
.t-color-c2 {
  color: var(--c2);
}
.t-color-c3 {
  color: var(--c3);
}
.t-color-c4 {
  color: var(--c4);
}
.t-color-c5 {
  color: var(--c5);
}
.t-color-c5 {
  color: var(--c6);
}
.t-color-white{
  color:white;
}
.t-color-dark {
  color: var(--color-dark);
}
.t-color-light {
  color: var(--color-light);
}
.t-color-light-2{
  color: var(--color-light-2);
}

.t-color-success {
  color: var(--semantic-success);
}
.t-color-warning {
  color: var(--semantic-warning);
}
.t-color-error {
  color: var(--semantic-error);
}

.bor-color-dark {
  border-color: var(--color-dark);
}
.bor-color-light {
  border-color: var(--color-light);
}
.bor-b-color-light{
  border-bottom-color:  var(--color-light);
}
.bor-b-color-dark{
  border-bottom-color:  var(--color-dark);
}
.bgc-delicate{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bgc-midnight{
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526);

}
.bgc-grad-lacivert {
  background-image: linear-gradient(
    to top,
    #3f51b5,
    #4354b7,
    #4757b9,
    #4a5bba,
    #4e5ebc,
    #5262be,
    #5766c0,
    #5b6ac2,
    #616fc5,
    #6775c9,
    #6c7acc,
    #7280cf
  );
}

.bgc-grad-grey {
  background-image: linear-gradient(
    to right top,
    #232526,
    #27292a,
    #2b2d2e,
    #2f3132,
    #333536,
    #393a3b,
    #3e3f40,
    #444445,
    #4c4c4d,
    #545455,
    #5d5d5e,
    #656566
  );
}
